<div class="container">
  <h1 style="text-align: center;"> JUEGO DEL GATO </h1>
  
  <div class="content-juego">
  
    <ng-container style="display: flex; gap: 10px; margin-bottom: 10px;" *ngFor="let i of [1,2,3]">
      <div style="display: contents;" *ngFor="let j of [1,2,3]">
        <button class="celdas" id="{{i+'_'+j}}" (click)="useSelect( i+'_'+j )"> </button>
      </div>
  
    </ng-container>
  
  </div>
  
  
  <h3 *ngIf="win">El ganador es el {{playerOne ? 'Jugador uno' : 'Jugador dos'}}</h3>

  <button class="reiniciar" (click)="reset()" [ngClass]="{'d-block': start}">Reiniciar</button>

</div>
